*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('https://mmistakes.github.io/so-simple-theme/images/so-simple-sample-image-5-400x200.jpg');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* header section */


header {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px none;
    z-index: 1000;
}
 
.header-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;


}
 
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
 
.logo {
    color: #1a1d23;
    display: flex;
    align-items: center;
    gap: 10px;
}
 
.logo h2 {
    font-size: 24px;
}
 
.logo h2 span {
    color: #1a1d23;
}


.logo img {
    width: 50px;
    height: 50px;
}
 
/* nav {
    margin-left: 40px;
} */
 
nav ul {
    display: flex;
    list-style: none;
}
 
nav ul li {
    margin-left: 12px;
}
 
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold  ;
    padding-right: 15px;
 
}


nav ul li a:hover {
    color: blue;
}




/* skills section */
.skills{
    width: 90%;
    margin: auto;
    padding: 60px 0;
    margin-top: 90px;
    position: relative;
    min-height: 220vh;
    
    
    
}

.skills h1{
   font-size: 42px;
    color:#06306f;
    text-align: center;
}

.skills h1 span{
    color:#6ad96f;
}
.title{
    
     margin:20px 0 50px;
    text-align: center;
    color: #f3f1f1;
    font-weight: bold;
}


.skill-card{
    position:absolute;
    width: 280px;
    background:#fff;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s;

}

.skill-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgb(240, 245, 245);
   
}

.skill-card img{
    width: 90px;
    height: 90px;
    border-radius: 20%;
    margin-bottom: 15px;
}


.skill-card h2{
    color: #0077ff;
    margin-bottom: 15px;

}

.skill-card p{
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}


.skill-card button{
    background: #0077ff;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}


.skill1{
    top: 300px;
    left: 120px;
}

.skill2{
    top: 360px;
    left: 470px;
}

.skill3{
    top: 460px;
    left: 830px;
}
.skill4{
    top: 800px;
    left: 120px;
}

.skill5{
    top: 900px;
    left: 470px;
}

.skill6{
    top: 1000px;
    left: 830px;
}



/* footer section */

 
footer {
    background: #1a1d23;
    color: white;
    padding: 50px 30px 20px;
    margin-top: 50px;
}
 
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
 
.footer-box {
    width: 220px;
}
 
.footer-box h2 {
    margin-bottom: 15px;
    color: #0d6efd;
}
 
.footer-box p {
    margin: 10px 0;
}
 
.footer-box a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}
 
.footer-box a:hover {
    color: #0d6efd;
}
 
hr {
    margin: 30px 0 15px;
}
 
.copyright {
    text-align: center;
}